body,
html,
* {
  padding: 0;
  margin: 0;
}

@media (max-width: 1440px) {
  .container .about_content .box_icon {
    -webkit-transform: translateY(-28%);
            transform: translateY(-28%);
  }
  .container .about_content .box_icon div {
    width: 20%;
    height: 200px;
  }
  .container .about_content .box_icon div img {
    width: 30px;
    height: 30px;
    padding: 15px;
  }
  .container .about_content .box_icon div p {
    font-size: 12px;
    padding-top: 15px;
  }
  .container .slider-Nav .swiper-navigation {
    bottom: 30%;
    left: 20%;
  }
}

@media (min-width: 1440px) {
  .container .slider-Nav .swiper-navigation {
    bottom: 30%;
    left: 20%;
  }
  .container .about_content .box_icon div {
    width: 20%;
    height: 200px;
  }
  .container .about_content .box_icon div img {
    width: 30px;
    height: 30px;
    padding: 15px;
  }
  .container .about_content .box_icon div p {
    font-size: 12px;
    padding-top: 15px;
  }
  .container .about_content .box_icon .slider-Nav .swiper-slide__item h1 {
    font-size: 30px;
    line-height: 100%;
  }
  .container .about_content .box_icon .slider-Nav .swiper-slide__item strong {
    font-size: 15px;
  }
  .container .about_content .box_icon .content_gray .service-list-wrapper .box-flex div h5 {
    width: 50%;
  }
  .container .about_content .box_icon .slider-Nav .swiper-navigation {
    bottom: 30%;
    left: 20%;
  }
  .container .about_content .box_icon .about_content .box_icon {
    max-width: 90%;
  }
  .container .about_content .box_icon .about_content .box_icon div {
    width: 20%;
    height: 285px;
  }
  .about_content .box_icon {
    -webkit-transform: translateY(-38%);
            transform: translateY(-38%);
  }
}

@media (min-width: 1024px) {
  .slider-Nav .swiper-slide__item {
    top: 5%;
    width: 50%;
  }
  .slider-Nav .swiper-slide__item h1 {
    line-height: 1.2;
    font-size: 30px;
  }
  .slider-Nav .swiper-slide__item strong {
    font-size: 18px;
  }
  .slider-Nav .swiper-slide__item button {
    margin-top: 5%;
    font-size: 20px;
    width: 30%;
    height: 50px;
  }
  .container .about_content .box_icon {
    max-width: 90%;
  }
  .container .about_content .box_icon div {
    width: 20%;
    height: 285px;
  }
  .container .about_content .box_visit_icon div a {
    width: 25px;
    height: 25px;
  }
  .container .about_content .box_visit_icon div a img {
    width: 25px;
    height: 25px;
  }
  .container .about_content .box_visit_icon div a {
    width: 40px;
    height: 40px;
  }
  .container .about_content .box_visit_icon div a img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1024px) {
  .service-list-wrapper h5 {
    font-size: 14px;
  }
  .container .slider-Nav .swiper-slide__item {
    top: 5%;
    width: 50%;
  }
  .container .slider-Nav .swiper-slide__item h1 {
    line-height: 1;
    font-size: 30px;
  }
  .container .slider-Nav .swiper-slide__item strong {
    font-size: 18px;
  }
  .container .slider-Nav .swiper-slide__item button {
    margin-top: 3%;
    font-size: 15px;
    width: 40%;
    height: 50px;
  }
  .nav_tele {
    max-width: 50%;
  }
  .nav_tele span {
    font-size: 12px;
  }
  .container .about_content .box_icon {
    max-width: 90%;
  }
  .container .about_content .box_icon div {
    width: 20%;
    height: 180px;
  }
  .container .about_content .box_icon div img {
    width: 30px;
    height: 30px;
    padding: 15px;
  }
  .container .about_content .box_icon div p {
    font-size: 12px;
    padding-top: 15px;
  }
  .container .about_content .box_visit_icon div a {
    width: 25px;
    height: 25px;
  }
  .container .about_content .box_visit_icon div a img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 786px) {
  .container .slider-Nav .swiper-navigation {
    bottom: 30%;
    left: 85%;
  }
  .about_content .box_icon {
    -webkit-transform: translateY(-28%);
            transform: translateY(-28%);
  }
}

@media (min-width: 1024px) {
  .container .about_content .box_icon div img {
    width: 60px;
    height: 60px;
    padding: 20px;
  }
  .container .about_content .box_icon div p {
    font-size: 16px;
    padding-top: 25px;
  }
  .container .about_content .box_icon .content_gray .service-list-wrapper .box-flex div h5 {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 50%;
    left: 85%;
    z-index: 3;
  }
  .navbar li {
    display: none;
  }
  .navbar a:last-child {
    visibility: hidden;
  }
  .navbar .divBar {
    position: relative;
    height: 40px;
    width: 55px;
    margin: auto;
  }
  .navbar .bar {
    content: "";
    -webkit-transition: top 1s, background 0.5s, -webkit-transform 1s;
    transition: top 1s, background 0.5s, -webkit-transform 1s;
    transition: transform 1s, top 1s, background 0.5s;
    transition: transform 1s, top 1s, background 0.5s, -webkit-transform 1s;
    width: 100%;
    height: 4px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 45%;
  }
  .navbar .bar:first-child {
    top: 0%;
  }
  .navbar .bar:last-child {
    top: 90%;
  }
  .container .about_content .box_visit_icon div {
    width: 40%;
    height: 140px;
  }
  .container .about_content .box_visit_icon div span h5 {
    font-size: 18px;
    line-height: 1.3;
  }
  .container .container__nav .nav_content {
    position: relative;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container .container__nav .nav_content a {
    display: inline;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }
  .container .container__nav .nav_content a:last-child img {
    display: block;
  }
  .container .container__nav .nav_tele {
    max-width: 50%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    row-gap: 10%;
  }
  .container .container__nav .nav_tele #nav_tele_item1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-area: 1/4/span 1/span 4;
  }
  .container .container__nav .nav_tele #nav_tele_item2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-area: 2/4/span 1/span 4;
  }
  .container .container__nav .nav_tele #nav_tele_item3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-area: 3/4/span 1/span 4;
  }
  .container .container__nav .nav_tele #nav_tele_item4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 3/5/span 1/span 4;
  }
  .container .container__nav .nav_tele #nav_tele_item5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-area: 3/6/span 1/span 4;
  }
  .container .container__nav .nav_tele #nav_tele_item6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-area: 3/7/span 1/span 4;
  }
  .container .container__nav .nav_tele span {
    font-size: 15px;
  }
  .container .slider-Nav .swiper-slide__item h1 {
    font-size: 20px;
    line-height: 0.7;
  }
  .container .slider-Nav .swiper-slide__item strong {
    font-size: 13px;
    line-height: 0.7;
  }
  .container .slider-Nav .swiper-slide__item button {
    width: 150px;
    height: 30px;
    font-size: 12px;
  }
  .container .slider-Nav .swiper-navigation li {
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .nav_tele {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .container__nav .nav_content li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .container .container__nav .nav_content nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    font-family: "Commissioner", sans-serif;
    font-weight: 500;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .container__nav .nav_content nav a {
    color: rgba(0, 0, 0, 0.75);
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }
  .container .container__nav .nav_content nav a:last-child img {
    display: block;
  }
  .container .container__nav .nav_content nav img {
    width: 20px;
    height: 20px;
  }
}

h1 {
  /* H1 */
  font-family: Commissioner;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */
  letter-spacing: 0.01em;
  /* Title */
  color: rgba(0, 0, 0, 0.9);
}

h2 {
  font-family: "Commissioner", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

h3 {
  /* H3 */
  font-family: Commissioner;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  color: #dec377;
  /* identical to box height, or 154% */
  letter-spacing: 0.01em;
}

h4 {
  font-family: "Commissioner", sans-serif;
  font-size: 26px;
  line-height: 45px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
}

h5 {
  /* H5 */
  font-family: Commissioner;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

p {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  font-size: 15px;
}

.a-button {
  /* Button (additional) */
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px 0 0 0;
  font-family: sans-serif;
}

strong {
  /* Main text */
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  /* identical to box height, or 167% */
  /* Main text */
  color: rgba(0, 0, 0, 0.8);
}

button {
  outline: none;
  border: none;
  background: #dec377;
  border: 2px solid #dec377;
  width: 200px;
  height: 45px;
  border-radius: 2px;
  color: #ffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  vertical-align: middle;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

button:active {
  color: #dec377;
  background: #ffff;
}

.container {
  max-width: 1920px;
  overflow: hidden;
  margin: auto;
}

.container .container__nav {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  padding-top: 15px;
}

.container .container__nav .nav_select span {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

.container .container__nav .nav_select select {
  color: rgba(0, 0, 0, 0.6);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.container .container__nav .nav_select select option:first-child {
  outline: none;
  border: none;
}

.container .container__nav .nav_select select:focus {
  outline: none;
}

.container .container__nav .nav_select select option:active {
  border: none;
  outline: none;
}

.container .container__nav .nav_select img {
  position: absolute;
  right: 50%;
  top: 5%;
  height: 30px;
}

.container .container__nav .nav_tele {
  font-family: "Commissioner", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.container .container__nav .nav_tele img {
  width: 20px;
  height: 20px;
  padding-right: 15px;
  vertical-align: sub;
}

.container .container__nav .nav_tele img:last-child {
  padding-right: 0;
}

.container .container__nav .nav_tele span {
  padding-right: 15px;
}

.container .container__nav .nav_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 30px;
}

.container .container__nav .nav_content .logo_img {
  width: 40%;
}

.container .container__nav .nav_content .logo_img img {
  width: 60%;
  height: 100%;
}

.container .slider-Nav {
  z-index: 1;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  position: relative;
}

.container .slider-Nav .swiper-slide__item {
  position: absolute;
  left: 20%;
}

.container .slider-Nav .swiper-slide__item h1 {
  margin: 0 0 20px;
}

.container .slider-Nav img {
  width: 100%;
}

.container .slider-Nav .swiper-navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .slider-Nav .swiper-navigation .prev_nav:after,
.container .slider-Nav .swiper-navigation .next_nav:after {
  content: "";
}

.container .slider-Nav .swiper-navigation .prev_nav,
.container .slider-Nav .swiper-navigation .next_nav {
  position: relative;
  z-index: 11;
  width: 11px;
  height: 18px;
}

.container .about_content {
  width: 100%;
  background: #f2f2f2;
  position: relative;
  z-index: 2;
}

.container .about_content .box_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: hidden;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .about_content .box_icon div {
  background: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.container .about_content .box_icon div img {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.container .about_content .box_icon div p {
  width: 80%;
  text-align: center;
}

.container .about_content .box_container {
  max-width: 90%;
  overflow: scroll;
  margin: 0 auto;
  background: #ffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  background-image: url(../img/about/goUp.png);
  height: 645px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.container .about_content .box_container_about {
  padding: 50px 70px;
  width: 45%;
}

.container .about_content .box_container_about h2 {
  padding-bottom: 30px;
}

.container .about_content .box_container_about strong {
  line-height: 2;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

.container .about_content .h2 {
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.container .about_content .box_visit_icon {
  max-width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .about_content .box_visit_icon div {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  background: #ffff;
  margin-top: 3%;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  width: 30%;
  height: 150px;
}

.container .about_content .box_visit_icon div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .about_content .box_visit_icon div span h5 {
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  width: 55%;
}

.container .about_content .box_visit_icon div span p {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.container .about_content .box_visit_icon div a {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
}

.container .about_content .button_container {
  max-width: 90%;
  margin: 0 auto;
}

.container .about_content .button_container button {
  margin-top: 40px;
  width: 200px;
  height: 45px;
}

.container .about_content .content_about_content {
  max-width: 90%;
  margin: auto;
  margin-top: 100px;
}

.container .about_content .content_about_content_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .about_content .content_about_content_text h2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 90%;
  margin: auto;
}

.container .about_content .content_about_content_text p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 15px;
  font-weight: 300;
}

.container .about_content .content_about_content .slide_container {
  overflow: hidden;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.container .about_content .content_about_content .slide_container .slide_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.container .about_content .content_about_content .slide_container .slide_wrap__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.container .about_content .content_about_content .slide_container .slide_wrap__img img {
  width: 100%;
}

.container .about_content .slide_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
}

.container .about_content .slide_nav a {
  display: block;
  padding: 2px;
  cursor: pointer;
}

.container .about_content .slide_nav a img {
  width: 17px;
  height: 30px;
}

.container .about_content .slider-About {
  max-width: 1170px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  z-index: 0;
}

.container .about_content .slider-About .swiper-slide img {
  width: 100%;
}

.container .about_content .swiper-navigation {
  max-width: 1300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
}

.container .about_content .swiper-navigation div:hover, .container .about_content .swiper-navigation div:focus {
  outline: none;
  cursor: pointer;
}

.container .about_content .swiper-navigation div img {
  width: 17.5px;
  height: 30px;
}

.container .about_content .swiper-navigation .prev_nav-About::after,
.container .about_content .swiper-navigation .next_nav-About::after {
  content: "";
}

.container .about_content .swiper-navigation .prev_nav-About {
  position: relative;
}

.container .about_content .swiper-navigation .next_nav-About {
  position: relative;
}

.container .content {
  padding-top: 160px;
  margin: auto;
  max-width: 90%;
  overflow: hidden;
}

.container .content h2 {
  margin-bottom: 30px;
}

.container .content .swiper-wrapper {
  overflow: visible;
}

.container .content .swiper-slide-img img {
  width: 100%;
}

.container .content .swiper-slide-wrapper {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  margin: 8px;
}

.container .content .swiper-slide-content {
  padding: 35px 50px 50px 50px;
}

.container .content .swiper-slide-content h3 {
  margin-bottom: 20px;
}

.container .content .swiper-slide-content p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  /* or 179% */
  letter-spacing: 0.01em;
}

.container .content .reports_footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.container .content .reports_footer .pagination-report {
  width: 12%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .content .reports_footer .pagination-report .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.container .content .reports_footer .pagination-report .swiper-pagination-bullet-active {
  background: #dec377;
}

.container .content .reports_footer .reports_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content .reports_footer .reports_slide a {
  height: 18px;
}

.container .content .reports_footer .reports_slide a:hover, .container .content .reports_footer .reports_slide a:focus {
  outline: none;
}

.container .content .reports_footer .reports_slide a img {
  width: 11px;
  height: 18px;
}

.container .content .brand_partner .brand_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  line-height: 25px;
  padding-bottom: 50px;
  font-weight: 300;
  font-size: 15px;
}

.container .content .brand_partner .brand_text button {
  margin: 0 160px;
  background: #ffff;
  color: #dec377;
}

.container .content .brand_partner .brand_text button:active {
  background: #dec377;
  color: #ffff;
}

.container .content .brand_partner .partner_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding-bottom: 100px;
}

.container .content .brand_partner .partner_icon img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 20%;
  height: 80px;
  -webkit-transition: -webkit-filter 0.2s ease-in;
  transition: -webkit-filter 0.2s ease-in;
  transition: filter 0.2s ease-in;
  transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
}

.container .content .brand_partner .partner_icon img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.container .content_gray {
  background: #f2f2f2;
  max-width: 1920px;
  margin: auto;
}

.container .content_gray .content2 .about_money {
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  padding-top: 100px;
  gap: 30px;
  padding-bottom: 100px;
}

.container .content_gray .content2 .about_money div {
  background: #ffff;
  padding: 50px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.container .content_gray .content2 .about_money div:first-child {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 1;
  grid-column: 1/1;
}

.container .content_gray .content2 .about_money div:last-child {
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .content_gray .content2 .about_money div:last-child h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .content_gray .content2 .about_money div:last-child p {
  font-size: 16px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.container .content_gray .content2 .about_money .box_things2 {
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-grid-column: 2;
  grid-column: 2/2;
}

.container .content_gray .img_pix {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container .content_gray .img_pix img {
  width: 100%;
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}

.container .content_gray .temporarily {
  max-width: 1200px;
  margin: auto;
  padding-top: 85px;
  padding-bottom: 25px;
}

.container .content_gray .service-list {
  max-width: 1200px;
  margin: auto;
}

.container .content_gray .service-list-wrapper .box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.container .content_gray .service-list-wrapper .box-flex div {
  background: #ffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  height: 110px;
  position: relative;
}

.container .content_gray .service-list-wrapper .box-flex div h5 {
  text-align: center;
  padding-top: 15px;
  margin: auto;
}

.container .content_gray .service-list-wrapper .box-flex div a {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

.container .content_gray .service-list-wrapper .box-flex div:first-child {
  margin-right: 30px;
}

.container .content_gray .service-list-wrapper .box-flex div:first-child::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 100%;
}

.container .content_gray .service-list-wrapper .box-flex div:last-child::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 100%;
}

.container .content_gray .service-list-wrapper .box-1 div:first-child {
  -webkit-box-flex: 470;
      -ms-flex: 470;
          flex: 470;
}

.container .content_gray .service-list-wrapper .box-1 div:first-child::before {
  background: rgba(222, 195, 119, 0.4);
}

.container .content_gray .service-list-wrapper .box-1 div:last-child {
  -webkit-box-flex: 670;
      -ms-flex: 670;
          flex: 670;
}

.container .content_gray .service-list-wrapper .box-1 div:last-child::before {
  background: rgba(222, 195, 119, 0.4);
}

.container .content_gray .service-list-wrapper .box-2 div:first-child {
  -webkit-box-flex: 570;
      -ms-flex: 570;
          flex: 570;
}

.container .content_gray .service-list-wrapper .box-2 div:first-child::before {
  background: rgba(222, 195, 119, 0.75);
}

.container .content_gray .service-list-wrapper .box-2 div:last-child {
  -webkit-box-flex: 570;
      -ms-flex: 570;
          flex: 570;
}

.container .content_gray .service-list-wrapper .box-2 div:last-child::before {
  background: rgba(222, 195, 119, 0.75);
}

.container .content_gray .service-list-wrapper .box-3 div:first-child {
  -webkit-box-flex: 670;
      -ms-flex: 670;
          flex: 670;
}

.container .content_gray .service-list-wrapper .box-3 div:first-child::before {
  background: #dec377;
}

.container .content_gray .service-list-wrapper .box-3 div:last-child {
  -webkit-box-flex: 470;
      -ms-flex: 470;
          flex: 470;
}

.container .content_gray .service-list-wrapper .box-3 div:last-child::before {
  background: #dec377;
}

.container .content_gray .service-list-wrapper .box-4 div:first-child {
  -webkit-box-flex: 570;
      -ms-flex: 570;
          flex: 570;
}

.container .content_gray .service-list-wrapper .box-4 div:first-child::before {
  background: rgba(222, 195, 119, 0.75);
}

.container .content_gray .service-list-wrapper .box-4 div:last-child {
  -webkit-box-flex: 570;
      -ms-flex: 570;
          flex: 570;
}

.container .content_gray .service-list-wrapper .box-4 div:last-child::before {
  background: rgba(222, 195, 119, 0.75);
}

.container .content_gray .service-list-wrapper .box-5 div:first-child {
  -webkit-box-flex: 470;
      -ms-flex: 470;
          flex: 470;
}

.container .content_gray .service-list-wrapper .box-5 div:first-child::before {
  background: rgba(222, 195, 119, 0.4);
}

.container .content_gray .service-list-wrapper .box-5 div:last-child {
  -webkit-box-flex: 670;
      -ms-flex: 670;
          flex: 670;
}

.container .content_gray .service-list-wrapper .box-5 div:last-child::before {
  background: rgba(222, 195, 119, 0.4);
}

.container .content_gray .service-list-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  margin-top: 50px;
  padding-bottom: 100px;
}

.container .content_gray .service-list-footer p {
  display: block;
  width: 60%;
  margin-left: 5%;
  font-size: 14px;
}

.container .content_gray .service-list-footer button {
  display: inline-block;
  vertical-align: top;
}

.container .content-white {
  background: #ffff;
  max-width: 1920px;
  margin: auto;
}

.container .content-white .box {
  max-width: 90%;
  margin: auto;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

.container .content-white .box:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container .content-white .box-left {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.container .content-white .box-left h2 {
  padding-bottom: 30px;
}

.container .content-white .box-left p {
  width: 64%;
}

.container .content-white .box-right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.container .content-white .box-right ul {
  list-style-type: none;
}

.container .content-white .box-right ul li {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.75);
  position: relative;
  height: 40px;
  margin-bottom: 25px;
}

.container .content-white .box-right ul li::before {
  content: "";
  width: 40px;
  height: 40px;
  background: url(../img/list-style-disc/style-disc.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(-150%, -10px);
          transform: translate(-150%, -10px);
}

.container .content_gray {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container .content_gray .content-wrapper {
  max-width: 1200px;
  margin: auto;
}

.container .content_gray .content-wrapper #time {
  padding-top: 50px;
}

.container .content_gray .content-wrapper .box-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 50px;
}

.container .content_gray .content-wrapper .box-advantage-item {
  background: #ffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 18%;
  padding: 50px 25px 25px 25px;
  text-align: center;
}

.container .content_gray .content-wrapper .box-advantage-item div {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  padding: 30px;
  margin: auto;
}

.container .content_gray .content-wrapper .box-advantage-item div img {
  width: 60px;
  height: 60px;
}

.container .content_gray .content-wrapper .box-advantage-item p {
  margin-top: 25px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
}

.container .content_gray .content-wrapper .advantage-text {
  background: #ffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
}

.container .content_gray .content-wrapper .advantage-text p {
  padding: 45px;
  width: 68%;
}

.container .content_gray .content-wrapper .advantage-text .bookmark {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 70px 70px 0;
  border-color: transparent #dec377 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #dec377 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.container .content_gray .content-wrapper .wrapper-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 80px;
}

.container .content_gray .content-wrapper .wrapper-form-left {
  margin-left: 5%;
}

.container .content_gray .content-wrapper .wrapper-form-left h2 {
  padding-bottom: 35px;
}

.container .content_gray .content-wrapper .wrapper-form-left__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.container .content_gray .content-wrapper .wrapper-form-left__item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #dec377;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  color: #dec377;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.container .content_gray .content-wrapper .wrapper-form-left__item p {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  width: 65%;
  margin-left: 30px;
}

.container .content_gray .content-wrapper .wrapper-form-left .width-p {
  margin-top: 50px;
  width: 70%;
}

.container .content_gray .content-wrapper .wrapper-form-right {
  background: #ffff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.container .content_gray .content-wrapper .wrapper-form-right form {
  overflow: hidden;
  padding: 50px;
}

.container .content_gray .content-wrapper .wrapper-form-right form label {
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.container .content_gray .content-wrapper .wrapper-form-right form label:first-child {
  font-weight: 600;
}

.container .content_gray .content-wrapper .wrapper-form-right form input {
  width: 100%;
  outline: none;
  border: none;
  padding: 8px 20px 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.container .content_gray .content-wrapper .wrapper-form-right form p {
  margin-bottom: 30px;
  font-size: 13px;
}

.container .content_gray .content-wrapper .wrapper-form-right form p a {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.container .content_gray .content-wrapper .wrapper-form-right form button {
  width: 100%;
}

.container .content_gray .content-wrapper .tarif {
  width: 55.83%;
}

.container .content_gray .content-wrapper .tarif h2 {
  margin-bottom: 30px;
}

.container .content_gray .content-wrapper .tarif button {
  margin-top: 30px;
  margin-bottom: 100px;
}

.container footer {
  max-width: 90%;
  margin: auto;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.container footer .footer-left {
  -webkit-box-flex: 22;
      -ms-flex: 22;
          flex: 22;
}

.container footer .footer-left h5 {
  margin-bottom: 70px;
  font-family: Commissioner;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.container footer .footer-left span {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Commissioner;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}

.container footer .footer-left strong {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.container footer .footer-left .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 50px;
}

.container footer .footer-left .social-icon a {
  display: block;
}

.container footer .footer-left .social-icon a img {
  width: 27px;
  height: 27px;
  display: block;
}

.container footer .footer-left-end a {
  margin-bottom: 30px;
  text-decoration: none;
}

.container footer .footer-left-end a p {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}

.container footer .footer-left-end a p img {
  width: 60px;
  height: 12px;
  padding-left: 15px;
}

.container footer .footer-right {
  -webkit-box-flex: 78;
      -ms-flex: 78;
          flex: 78;
  margin-left: 25px;
}

.container footer .footer-right-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 30px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.container footer .footer-right-grid .footer-adress h5 {
  font-family: Commissioner;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.container footer .footer-right-grid .footer-adress p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.container footer .footer-right-grid .footer-adress span {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

.container footer .footer-right-grid #footer-info {
  text-transform: uppercase;
  font-family: Commissioner;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

.container footer .footer-right-grid .box-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 1;
  grid-row: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.container footer .footer-right-grid .box-info span {
  width: 84%;
  padding-bottom: 5px;
}

.container footer .footer-right-grid .box-info div {
  width: 26%;
  margin-left: 60px;
  padding-bottom: 5px;
}

.container footer .footer-right-grid .box-info span,
.container footer .footer-right-grid .box-info div {
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.container footer .footer-right-grid .box-1 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  -ms-grid-row: 2;
  grid-row: 2/2;
  display: -ms-grid;
  display: grid;
  width: 70%;
}

.container footer .footer-right-grid .box-1 .phone {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  grid-column: 1/1;
}

.container footer .footer-right-grid .box-1 .phoneRF {
  margin-top: 20px;
}

.container footer .footer-right-grid .box-1 .phoneRF h5 {
  font-family: Commissioner;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
}

.container footer .footer-right-grid .box-1 .phoneRF p {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.container footer .footer-right-grid .box-1 .phoneRF span {
  font-family: Commissioner;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

.container footer .footer-right-grid .box-2 {
  -ms-grid-column: 3;
  grid-column: 3/3;
  width: 70%;
}

.container footer .footer-right-grid .box-3 {
  -ms-grid-column: 4;
  grid-column: 4/4;
  width: 70%;
}

.container footer .footer-right-grid .box-4 {
  -ms-grid-column: 5;
  grid-column: 5/5;
  width: 100%;
}

.container footer .footer-right-grid .box-4 span {
  margin-bottom: 7px;
  display: block;
}
/*# sourceMappingURL=style.css.map */