// -----FONT ----
$font_Commissioner: "Commissioner", sans-serif;
$font_SoSaPro: "Source Sans Pro", sans-serif;
$font_Lato: "Lato", sans-serif;
//-------BOX-SHADOW-----
$shadow_lite: 0px 4px 10px;
$shadow_normal: 0px 4px 20px;
$shadow_more: inset 0px 20px 50px;
// -----COLOR-----
$color_black: rgba(0, 0, 0, 0.9);
$color_secondary: rgba(0, 0, 0, 0.5);
$color_white: #ffff;
$color_btn: #dec377;
$color_text: rgba(0, 0, 0, 0.6);
$color_gray: #f2f2f2;